#discover-box{
    /* display:none; */
    position:absolute;
    /* top:calc(100vh - 35px); */
    /* bottom:-87vh; */
    /* top:80vh; */
    /* bottom:0vh; */
    /* bottom:-67vh; */
    bottom: calc(-90vh + 192px);
    background-color:#ffffff;
    width:100%;
    height:90vh;
    /* height:calc(100vh - 145px); */
    border-radius:15px 15px 0 0;
    z-index:3;
    box-shadow: 0 -2px 10px rgb(72, 44, 5, 0.15);
    overflow:hidden;
}

.box-slideup{
    transform: translateY(-67vh);
    transform: translateY(calc(-90vh + 192px));
    /* transform: translateY(calc(-100vh + 90px)); */
    /* transition: all 0.5s ease-in; */
}

#arrow-up:hover #arrow-icon{
    opacity:0.5;
    /* transition:transform 0.5s ease-in-out; */
    animation: bounce 0.3s alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-3px);}
}

.arrow-spin{
    transform: rotate(180deg);
}

.discover-section{
    background-color:#F7EFE4;
    box-sizing: border-box;
    padding: 10px 25px 30px 25px;
    /* height:120px; */
}

#arrow-up{
    /* background-color: thistle; */
    width:100%;
    display:flex;
    justify-content: center;
    /* margin-bottom:15px; */
    color:#D5BB94;
    font-size:20px;
    cursor: pointer;
}

#discover-box h1{
    /* height:120px; */
    color: #382102;
    margin:15px 0 15px 0;
}

/* #dropdownMenuButton1{
    margin:0;
    border:0;
    background-color:#F0E3D0;
    color: #D5BB94;
    text-align:left;
    padding:15px 20px;
    border-radius:15px;
    font-size:20px;
}

#dropdownMenuButton1::after{
    background-color:pink;
    border:0;
    content: '<i class="fas fa-chevron-down"></i>';
} */

.form-select{
    background-image: url('../images/arrow.png');
    background-position: right 20px center;
    background-size: 16px;
    cursor: pointer;
}

#change-region{
    margin:0;
    border:0;
    background-color:#F0E3D0;
    color: #D5BB94;
    text-align:left;
    padding:15px 20px;
    border-radius:15px;
    font-size:16px;
}

.discover-results{
    background-color:white;
    position:relative;
    /* height:calc(100vh - 35px - 195px); */
    /* height:calc(100vh - 35px); */
    height:calc(100% - 192px);
    overflow:auto;
    /* padding:0 25px; */
}

.indiv-result{
    cursor: pointer;
    padding:30px 25px;
    position:relative;
}

.indiv-result::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    left:25px;
    width:calc(100% - 50px);
    height:100%;
    border-bottom:2px solid rgba(0,0,0,0.05);
    z-index:5;
}

.indiv-result h4{
    color:#482C05;
}

.indiv-result small{
    color:#B5B5B5;
}

.indiv-result:last-child{
    border:0;
}

.change-success{
    position:absolute;
    background-color:rgb(120, 147, 97, 0.9);
    border:1px solid #789361;
    border-radius:15px;
    width: 90%;
    padding:20px 25px;
    color:#ffffff;
    z-index:10;
    top:25px;
    left:0;
    right:0;
    margin:auto;
    animation-name: slideIn;
    animation-duration: 0.2s;
    animation-direction: forwards;
}

@keyframes slideIn{
    0%{transform:translateY(-100px)}
    100%{transform:translateY(0);}
}

.dialog-box-slideout{
    animation-name: slideOut;
    animation-duration: 0.2s;
    animation-direction: forwards;
}

@keyframes slideOut{
    0%{transform:translateY(0);}
    100%{transform:translateY(-100px)}
}

/* ipad size & above */
@media screen and (min-width: 768px) {

  

}


/* desktop size */
@media screen and (min-width: 992px) {

    #discover-box{
        top:135px;
        height:calc(100% - 220px);
        /* height:calc(80vh - 30px); */
        width:350px;
        right:calc(5% + 15px);
        border-radius:15px;
    }

    #arrow-up{
        display:none;
    }

    #discover-box h1{
        /* height:120px; */
        color: #382102;
        margin:0px 0 15px 0;
    }    

    .box-slideup{
        transform: translateY(0);
    }

    .discover-section{
        background-color:#F7EFE4;
        box-sizing: border-box;
        padding: 25px;
    }

    .discover-results{
        height:calc(80vh - 30px - 167px);
    }

    .indiv-result:hover{
        background-color:#F7F7F7;
    }



    .change-success{
        width: 500px;
        z-index:10;
        /* top:140px; */
        /* margin:0; */
        /* left:calc(5% + 20px); */
        /* animation:none; */
    }

}