#desktop-history{
    display:none;
}

.onlyHistoryPopup{
    background-color:white;
    width: 100%;
}

.history-header{
    width:100%;
    position:absolute;
    top:0;
    /* height:150px; */
    background-color:#F7EFE4;
    box-sizing: border-box;
    padding: 45px 25px 30px 25px;
}

.history-header h1{
    color: #382102;
    margin:0 0 5px 0;
    text-align:center;
}

.history-header span{
    color: #382102;
    opacity:0.3;
    font-size:14px;
}

#history-list{
    /* background-color:pink; */
    position:absolute;
    /* top:150px; */
    width:100%;
    /* height:calc(100% - 150px); */
    overflow:auto;
}

.indiv-result{
    cursor: pointer;
    text-align:left;
    color:black;
    padding:20px 25px;
    border-bottom:1px solid black;
}

.onlyHistoryPopup{
    width: 100% !important;
}

/* .desktop-history-appear{
    display:none;
} */
    
/* desktop size */
@media screen and (min-width: 992px) {

    #desktop-history{
        display:block;
        background-color:white;
        position:absolute;
        top:0;
        width:500px;
        height:100%;
        z-index:5;
        box-shadow: 0 2px 10px rgb(72, 44, 5, 0.15);
    }

    .onlyHistoryPopup{
        transform: translateX(500px);
        width: 500px !important;
        right:0;
        box-shadow: 0 2px 10px rgb(72, 44, 5, 0.15);
    }

    .onlyHistoryPopup-slideIn{
        transform: translateX(0px);
        /* transition: all 0.3s ease-in; */
    }

    .onlyHistoryPopup-slideOut{
        transform:translateX(500px);
    }

}