body{
    margin:0;
    background-color:honeydew;
    font-family: 'Rubik', sans-serif;
}

nav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:145px;
    /* background-color:black; */
    /* display:flex; */
    /* align-items:center; */
    box-sizing: border-box;
    padding:15px;
    z-index:3;
    background: url('/images/header-tab.svg') no-repeat;
    background-size:860px;
    /* background-size:992px; */
    /* background: url('/images/header-mobile.svg') no-repeat; */
    /* background-size:100%; */
    pointer-events: none;
}

nav>#nav-container{
    width:100%;
    /* background-color: hotpink; */
    display:flex;
    pointer-events: auto;
}

nav>#nav-container>#logo{
    width:70px;
    height:70px;
    background-color:white;
    border-radius:50%;
}

nav>#nav-container>#logo:hover{
    background-color:hotpink;
}

nav>#nav-container>#hamburger-menu{
    margin:0;
    padding:0;
    /* background-color:honeydew; */
    color:white;
    margin-left:auto;
    list-style-type: none;
}

nav>#nav-container>#hamburger-menu>li{
    width:30px;
    border-radius:15px;
    height:3px;
    margin:7px 0px;
    background-color:white;
}

/* main popup box */
#main-popup{
    position:absolute;
    top:0;
    z-index:2;
    background-color:pink;
    width:100%;
    height:100vh;
    margin-top:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#F0E3D0;
    text-align: center;
}

#main-popup>#main-popup-container{
    background-color: black;
    width:90vw;
    height:auto;
}

h1{
    margin:0 0 20px 0;
    font-size:40px;
    font-weight:400;
}

#main-popup>#main-popup-container>#main-popup-landing>#choose-one{
    background-color:thistle;
    display:flex;
    flex-direction: column;
}

#main-popup>#main-popup-container>#main-popup-landing>#choose-one>div{
    background-color:hotpink;
    margin: 10px 0;
    box-sizing: border-box;
    padding:30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-popup>#main-popup-container>#main-popup-landing>#choose-one>div>img{
    width:70px;
    margin-bottom:20px;
}

#main-popup>#main-popup-container>#main-popup-landing>#choose-one>div:hover{
    background-color:#F0E3D0;
    color:#482C05;
    cursor:pointer;
}

/* #main-popup-randomiser{
    display:none;
} */

#back-to-main:hover{
    background-color:#F0E3D0;
    color:#482C05;
    cursor:pointer;
}


/* ipad size & above */
@media screen and (min-width: 768px) {

    #main-popup>#main-popup-container{
        width:70vw;
    }    

}


/* desktop size */
@media screen and (min-width: 992px) {

    #main-popup>#main-popup-container{
        width:768px;
    }

    #main-popup>#main-popup-container>#main-popup-landing>#choose-one{
        display:flex;
        flex-direction: row;
    }

    #main-popup>#main-popup-container>#main-popup-landing>#choose-one>div{
        flex:1;
        margin:15px;
    }
    
}