body{
    margin:0;
    background-color:honeydew;
    font-family: 'Rubik', sans-serif;
    overflow:hidden;
}

nav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:145px;
    /* background-color:black; */
    /* display:flex; */
    /* align-items:center; */
    box-sizing: border-box;
    padding:15px;
    z-index:2;
    background: url('/images/header-tab.svg') no-repeat;
    background-size:860px;
    /* background-size:992px; */
    /* background: url('/images/header-mobile.svg') no-repeat; */
    /* background-size:100%; */
    pointer-events: none;
}

nav>#nav-container{
    width:100%;
    /* background-color: hotpink; */
    display:flex;
    pointer-events: auto;
}

nav>#nav-container>#logo{
    width:70px;
    height:70px;
    background-color:white;
    border-radius:50%;
}

nav>#nav-container>#logo:hover{
    background-color:hotpink;
}

#desktop-menu{
    display:none;
}

nav>#nav-container>#hamburger-menu{
    margin:0;
    padding:0;
    /* background-color:honeydew; */
    color:white;
    margin-left:auto;
    list-style-type: none;
}

nav>#nav-container>#hamburger-menu>li{
    width:30px;
    border-radius:15px;
    height:3px;
    margin:7px 0px;
    background-color:white;
}

/* main popup box */
#main-popup{
    position:absolute;
    top:0;
    z-index:4;
    background-color:#482C05;
    width:100%;
    height:100vh;
    margin-top:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#F0E3D0;
    text-align: center;
}

#main-popup>#main-popup-container{
    background-color: black;
    width:90vw;
    height:auto;
}

h1{
    margin:0 0 20px 0;
    font-size:40px;
    font-weight:400;
}

h2{
    margin:0;
    font-size:30px;
    font-weight:400;
}

#main-popup>#main-popup-container>#main-popup-landing>#choose-one, #randomiser-container{
    background-color:thistle;
    display:flex;
    flex-direction: column;
}

#main-popup>#main-popup-container>#main-popup-landing>#choose-one>div, #randomiser-container>#coffee-and-shop>div{
    background-color:hotpink;
    margin: 10px 0;
    box-sizing: border-box;
    padding:30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-popup>#main-popup-container>#main-popup-landing>#choose-one>div>img, #randomiser-container>#coffee-and-shop>div>img{
    width:70px;
    margin-bottom:20px;
}

#main-popup>#main-popup-container>#main-popup-landing>#choose-one>div:hover{
    background-color:#F0E3D0;
    color:#482C05;
    cursor:pointer;
}

#random-coffee, #random-shop{
    opacity:0;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name:fadeIn;
    animation-duration: 0.5s;
    margin: 20px 0 !important;
}

#random-coffee{
    animation-delay:0.5s;
}

#random-shop{
    animation-delay:1.5s;
}

#random-shop>p{
    margin:0;
}

@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1}
}

button{
    width:100%;
    padding: 20px;
    margin: 5px 0;
    border:0;
    border-radius:15px;
    font-size: 16px;
    cursor: pointer;
}

.btn-green{
    margin-top:20px;
    background-color: #789361;
    color:#385520;
}

.btn-green:hover{
    background-color: #66824e;
    color:#ffffff;
}

.btn-red{
    background-color: #D64E4E;
    color:#880E0E;
}

.btn-red:hover{
    background-color: #b63a3a;
    color:#ffffff;
}

/* #main-popup-randomiser{
    margin-top:100px;
} */

#back-to-main{
    width:100px;
    margin-bottom:20px;
    text-align:left;
    display:flex;
    align-items: center;
}

#back-to-main:hover{
    background-color:#F0E3D0;
    color:#482C05;
    cursor:pointer;
}


/* ipad size & above */
@media screen and (min-width: 768px) {

    #main-popup>#main-popup-container{
        width:70vw;
    }    

}


/* desktop size */
@media screen and (min-width: 992px) {

    body{
        background-image:url("/images/bg-pattern.png");
        background-size:cover;
        background-repeat:no-repeat;
    }    

    /* nav */
    nav{
        background-image:none;
        /* background-color:hotpink; */
        padding:0 0 20px 0;
        width:90%;
        left:0;
        right:0;
        margin:auto;
        height:120px;
        display:flex;
        align-items:flex-end;
    }

    nav>#nav-container{
        display:flex;
        align-items:center;
        /* align-items:flex-end; */
    }

    #hamburger-menu{
        display:none;
    }

    #desktop-menu{
        display:block;
        /* background-color:pink; */
        margin-left:auto;
        list-style-type: none;
        padding:0;
    }

    #desktop-menu li{
        display:inline-block;
        margin:0 5px 0 5px;
        color:#F0E3D0;
        padding:7px 15px;
        border-radius:15px;
        position:relative;
        /* transition: all 0.1s linear; */
    }
    
    #desktop-menu li i{
        margin-right:10px;
    }


    #desktop-menu li:first-child{
        margin-left:0;
    }

    #desktop-menu li:last-child{
        margin-right:0;
    }

    #desktop-menu li:hover{
        background-color:#F0E3D0;
        color:#385520;
        cursor: pointer;
        /* transform:translateY(-5px); */
        animation: bounce 0.3s alternate;
        animation-iteration-count: infinite;
    }

    #desktop-menu li:hover:after{
        content:'';
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        border-radius:15px;
        /* background-color:red; */
        border-bottom:5px solid #826131;
    }


    /* main popup */
    #main-popup>#main-popup-container{
        width:768px;
    }

    #main-popup>#main-popup-container>#main-popup-landing>#choose-one{
        /* background-color:peachpuff; */
        display:flex;
        flex-direction: row;
    }

    #main-popup>#main-popup-container>#main-popup-landing>#choose-one>div{
        flex:1;
        margin:15px;
    }



    #main-popup-randomiser{
        margin-top:0px;
    }

    #randomiser-container{
        /* background-color:peachpuff; */
        display:flex;
        flex-direction: column;
    }

    #coffee-and-shop{
        margin:30px 0;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* gap:20px; */
    }

    #coffee-and-shop>span{
        margin:0 20px;
    }

    #random-coffee, #random-shop{
        flex:1;
        min-height:346.25px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    #buttons{
        display:flex;
        justify-content: center;
    }

    .btn-green, .btn-red{
        width:250px;
        margin:0 10px;
    }
    
}